input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 1.4rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin: 1rem 0;
  resize: vertical;
  font-size: 1.6rem;
  font-family: "Montserrat";
}

textarea {
  height: 20rem;
}
.button--submit {
  border: 1px solid grey;
  border-radius: 4px;
  padding: 1rem;
  font-size: 1.6rem;
  margin-top: 1.5rem;
  float: right;
  width: 40%;
}

.contact-form {
  border-radius: 5px;
  padding: 20px;
  width: 50%;
  margin: 10% auto 50%;
}
