@media only screen and (max-width: 1450px) {
  .recent-project,
  .work-overview {
    width: 85%;
  }
}

@media only screen and (min-width: 1090px) {
  .tile__text {
    padding: 2% 10% 0;
    height: 65%;
    width: 100%;
  }
  .work-overview__tile {
    &:hover .tile__text {
      opacity: 1;
      top: 35%;
      bottom: 0;
    }
  }
}

@media only screen and (max-width: 1090px) {
  .recent-project {
    justify-content: center;
  }
  .recent-project__description {
    width: 70%;
    padding: 0;
    text-align: center;
    border: none;
    font-size: 1.6rem;
    line-height: 145%;
  }
  .work-overview__gallery {
    @include prefix(
      (
        column-count: 2
      ),
      webkit moz
    );
    @include prefix(
      (
        column-gap: 3rem
      ),
      webkit moz
    );
  }

  .button {
    margin: 3% auto;
    float: none;
  }
  .recent-project__img {
    width: 70%;
    padding: 3rem 0 0;
  }

  .section-title {
    font-size: 1.6rem;
  }
  .work-overview__text {
    font-size: 1.6rem;
  }

  .tile__text {
    position: static;
    opacity: 1;
    padding: 0.1rem 0 1rem;
    .header {
      display: inline;
      font-size: 1.5rem;
      &::after {
        content: " \02192";
      }
    }

    span {
      display: none;
    }
  }
  .project {
    width: 80%;
  }
  .skills {
    width: 80%;
  }
}

@media only screen and (max-width: 800px) {
  .nav__intro {
    font-size: 3.7rem;
    height: 90rem;
    padding: 8% 6% 6% 7%;
  }
  .work-overview {
    width: 65%;
  }
  .section-title--recent {
    margin-top: 32rem;
  }

  .highlight {
    padding: 15% 12%;
    border: none;
  }

  .contact-form {
    width: 90%;
    margin: 10% auto 80%;
  }

  @keyframes slide-down {
    from {
      margin-top: 0;
    }
    to {
      margin-top: 35%;
    }
  }

  .about-section {
    width: 75%;
    font-size: 1.6rem;
    margin-bottom: 35rem;
  }

  .work-overview {
    width: 90%;
  }

  .project__description {
    width: 95%;
    margin: 0 auto;
    padding: 0;
  }

  .project__img--main {
    width: 94%;
    margin: 2% auto;
  }
}

@media only screen and (max-width: 600px) {
  .recent-project__description,
  .recent-project__img {
    width: 98%;
  }
  .work-overview {
    width: 78%;
  }
  .highlight {
    padding: 14% 12%;
  }
  .nav__intro {
    font-size: 2.5rem;
    height: 72rem;
    padding: 14% 0 0 12%;
    font-weight: 400;
  }

  .menu-icon {
    top: 1.2rem;
    right: 1.6rem;
  }

  .nav--min {
    height: 7rem;
  }
  .skills {
    width: 100%;
  }

  footer {
    height: 15rem;
  }
  .section-title--recent {
    margin-top: 28rem;
  }

  .work-overview__gallery {
    @include prefix(
      (
        column-count: 1
      ),
      webkit moz
    );
    @include prefix(
      (
        column-gap: 3rem
      ),
      webkit moz
    );
  }
}
